<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numberOfRepeats</key>
	<integer>1</integer>
	<key>positionOnPath</key>
	<real>0.5</real>
	<key>repeatPolicy</key>
	<integer>1</integer>
	<key>scaleInitialDecoration</key>
	<real>1</real>
	<key>scaleRepeatedDecorations</key>
	<real>1</real>
	<key>shouldBend</key>
	<false/>
	<key>spacing</key>
	<real>1.100000023841858</real>
	<key>svg</key>
	<string>&lt;?xml version=&quot;1.1&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;svg width=&quot;10px&quot; height=&quot;10px&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; version=&quot;1.1&quot;&gt;
    &lt;path d=&quot;M-5,-5 L-5,5 L5,5 L5,-5 Z M-5,-5&quot;&gt;&lt;/path&gt;
&lt;/svg&gt;</string>
</dict>
</plist>
