<section class="progetto_img">
        <div class="img-prog">
            <img class="img_1_progetto" src="img/forest-patrol.jpg" alt="">
        </div>
    </section>



    <section>
          <div class="progetto">
            <div class="articolo">
                <h1 class="titolo_progetto">TITLE</h1>
                <p class="contenuto_progetto">È la sera del 12 febbraio 1966 sui Navigli a Milano, il pavé di via Gorizia lambisce la Darsena, ancora un porto commerciale di chiatte e gru. Al civico 22 un uomo è morto e un amico non vuole dimenticarlo. Lo vuole ricordare così bene
                    che non una ma due volte lo ritrae di profilo composto immobile nel letto. Alle 21,45, quando è appena spirato, e poi alle 23. A penna, in entrambi gli schizzi, in poche linee traccia le lenzuola rincalzate, i baffi e i capelli che
                    sarebbero bianchi ma che l'inchiostro ritinge di nero. Il viso che spunta dal cuscino è magro e severo, il sopracciglio piccato. "Elio Vittorini è morto a Milano in viale Gorizia alle 21 e 45 del 12 febbraio 1966" scrive Albe Steiner
                    sotto il primo disegno. Con lo sguardo essenziale del grafico, cinquant'anni fa fermava in queste due istantanee inedite l'ultima espressione di un grande del Novecento italiano. Si erano conosciuti da partigiani nel ‘43 e non si erano
                    più lasciati. «Avevo diciott'anni e mezzo quel 12 febbraio ed Elio, che per tutta la vita avevo avuto vicino, fu la prima persona che vidi mancare» ricorda oggi Anna Steiner, nata nel ‘47, figlia di Albe (1913-1974) e Lica (1914-2008).
                    All'indomani della ricorrenza, la memoria degli ultimi anni di Vittorini è affidata soprattutto a lei. Mentre infatti Bompiani ripubblica un'edizione arricchita di Diario in pubblico, è nell'archivio di documenti, lettere, disegni
                    e fotografie conservato da Anna che rivive il Dopoguerra milanese dello scrittore nato a Siracusa nel 1908.È la sera del 12 febbraio 1966 sui Navigli a Milano, il pavé di via Gorizia lambisce la Darsena, ancora un porto commerciale
                    di chiatte e gru. Al civico 22 un uomo è morto e un amico non vuole dimenticarlo. Lo vuole ricordare così bene che non una ma due volte lo ritrae di profilo composto immobile nel letto. Alle 21,45, quando è appena spirato, e poi alle
                    23. A penna, in entrambi gli schizzi, in poche linee traccia le lenzuola rincalzate, i baffi e i capelli che sarebbero bianchi ma che l'inchiostro ritinge di nero. Il viso che spunta dal cuscino è magro e severo, il sopracciglio piccato.
                    "Elio Vittorini è morto a Milano in viale Gorizia alle 21 e 45 del 12 febbraio 1966" scrive Albe Steiner sotto il primo disegno. Con lo sguardo essenziale del grafico, cinquant'anni fa fermava in queste due istantanee inedite l'ultima
                    espressione di un grande del Novecento italiano. Si erano conosciuti da partigiani nel ‘43 e non si erano più lasciati. «Avevo diciott'anni e mezzo quel 12 febbraio ed Elio, che per tutta la vita avevo avuto vicino, fu la prima persona
                    che vidi mancare» ricorda oggi Anna Steiner, nata nel ‘47, figlia di Albe (1913-1974) e Lica (1914-2008). All'indomani della ricorrenza, la memoria degli ultimi anni di Vittorini è affidata soprattutto a lei. Mentre infatti Bompiani
                    ripubblica un'edizione arricchita di Diario in pubblico, è nell'archivio di documenti, lettere, disegni e fotografie conservato da Anna che rivive il Dopoguerra milanese dello scrittore nato a Siracusa nel 1908.</p>


                <div class="gallery">
                    <div class="img_gallery">
                        <img class="img_gallery_1" src="img/forest-patrol.jpg" alt="" />
                    </div>

                    <div class="img_gallery">
                        <img class="img_gallery_1" src="img/forest-patrol.jpg" alt="" />
                    </div>
                </div>
            </div>
    </section>

    <section class="btn">
        <div class="row">
            <div class="contenitore-bottone">
                <div class="bottom-show"><a class="show_btn"href="">Show More</a></div>
            </div>
        </div>

    </section>

    <!--altri-prog///////start-->

    <section class="correlati_s">
        <div class="row">
            <div class="correlati">


                <div class="col-1">
                        <div class="primo-div">
                            <div id="img-int"><img src="img/forest-patrol.jpg" alt=""></div>

                            <h1 class="titolo_correlati">TITLE</h1>
                            <div class "descrizione">
                                <p class="text_correlati">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>



<%= link_to "Edit", edit_post_path  { @post } %>
<%= link_to "Delete", post_path{ @post }, method: :delete, data: { confirm: "sei sicuro?"} %>
